
EarEffect.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
EarEffect.xcodeproj/project.xcworkspace/xcuserdata/muhammad.zafar.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
